<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _('Welcome to Holberton') }}</title>
  </head>
  <body>
    <header>
      <h1>{{ _('Hello world!') }}</h1>
      <p>
        {% if g.user %}
          {{ _('You are logged in as %(username)s.', username=g.user['name']) }}
        {% else %}
          {{ _('You are not logged in.') }}
        {% endif %}
      </p>
    </header>
  </body>
</html>
